<template>
  <div class="all">
    <input :id="id" type="checkbox" :checked="checked" @change="emit" />
    <label :for="id">{{ label }}</label>
  </div>
</template>
<script>
/* eslint-disable vue/require-default-prop */
export default {
  name: 'CheckFilter',
  props: {
    id: String,
    filter: String,
    label: String,
    checked: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    emit() {
      const n = !this.checked
      this.$emit('update', n)
    },
  },
}
</script>

<style scoped>
.all {
  color: white;
}
</style>
