<template>
  <div class="background atureFont">
    <!-- {{ id }} <br /> -->
    <PlanetDetail :id="id"></PlanetDetail>
  </div>
</template>

<script>
export default {
  layout: 'single-item',
  async asyncData({ params }) {
    const id = await params.id
    return { id }
  },
  mounted() {
    // eslint-disable-next-line no-console
    console.log(this.$store.state.planets)
  },
}
</script>
