<template>
  <div class="all background atureFont">
    <!-- <div class="planet">
      <div class="planet-title-zone">
        <div class="planet-title">
          <h2>{{ planets.name }}</h2>
        </div>
      </div>
      <div class="planet-content">
        <div class="planet-detail">
          <h3 style="color: #fbbf24">Informations globales</h3>
          <ul>
            <li v-if="planets.englishName">
              Nom anglais : {{ planets.englishName }}
            </li>
            <li v-if="planets.isPlanet == true">Cet astre est une planette.</li>
            <li v-else>Cet astre n'est pas une planette.</li>
            <li v-if="planets.moons == null">Cet astre n'a pas de lune.</li>
            <li v-if="planets.discoveredBy != ''">
              Decouvert par : {{ planets.discoveredBy }}
            </li>
            <li v-if="planets.discoveryDate != ''">
              Decouvert le : {{ planets.discoveryDate }}
            </li>
            <li v-if="planets.alternativeName != ''">
              Nom alternatif : {{ planets.alternativeName }}
            </li>
          </ul>
        </div>
        <hr />
        <div class="planet-detail">
          <h3 style="color: #fbbf24">Informations orbitales</h3>
          <ul>
            <li>Excentricité orbitale : {{ planets.eccentricity }}</li>
            <li>
              Inclinaison orbitale (en degrés) : {{ planets.inclination }}
            </li>
          </ul>
        </div>
        <hr />
        <div class="planet-detail">
          <h3 style="color: #fbbf24">Title_box</h3>
          <ul>
            <li>Detail</li>
          </ul>
        </div>
        <hr />
        <div class="planet-detail">
          <h3 style="color: #fbbf24">Title_box</h3>
          <ul>
            <li>Detail</li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="planet-title">
      <h2>{{ planets.name }}</h2>
    </div>
    <div class="planet-info">
      <div class="content">
        <h3 style="color: #fbbf24">Informations globales</h3>
        <ul>
          <li v-if="planets.englishName">
            Nom anglais : {{ planets.englishName }}
          </li>
          <li v-if="planets.isPlanet == true">Cet astre est une planette.</li>
          <li v-else>Cet astre n'est pas une planette.</li>
          <li v-if="planets.moons == null">Cet astre n'a pas de lune.</li>
          <li v-if="planets.discoveredBy != ''">
            Decouvert par : {{ planets.discoveredBy }}
          </li>
          <li v-if="planets.discoveryDate != ''">
            Decouvert le : {{ planets.discoveryDate }}
          </li>
          <li v-if="planets.alternativeName != ''">
            Nom alternatif : {{ planets.alternativeName }}
          </li>
        </ul>
      </div>
      <div class="content">
        <h3 style="color: #fbbf24">Informations orbitales</h3>
        <ul>
          <li>Excentricité orbitale : {{ planets.eccentricity }}</li>
          <li>Inclinaison orbitale (en degrés) : {{ planets.inclination }}</li>
        </ul>
      </div>
      <div class="content"></div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'PlanetDetail',
  props: {
    // eslint-disable-next-line vue/require-default-prop
    id: String,
  },
  data() {
    return {
      planets: [],
    }
  },
  async mounted() {
    const response = await this.storePlanetsOnePlanet()
    this.planets = response
    // eslint-disable-next-line no-console
    console.log(this.planets.moons)
    // console.log(this.planets)
  },
  methods: {
    storePlanetsOnePlanet() {
      return axios
        .get('https://api.le-systeme-solaire.net/rest/bodies/' + this.id)
        .then((response) => {
          return response.data
        })
        .catch(function (error) {
          // eslint-disable-next-line no-console
          // console.log(error)
          return error
        })
    },
  },
}
</script>

<style scoped>
.all {
  min-height: 93.3vh;
}

.planet-title {
  font-size: 54px;
  color: #fbbf24;
}
.planet-info {
  background-color: rgba(255, 255, 255, 0.397);
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.planet-info h3 {
  font-size: 30px;
}
.planet-info .content {
  width: 25%;
}
</style>
