<template>
  <div>
    <ul v-for="element in fav" :key="element">
      <li>{{ element }}</li>
    </ul>
  </div>
</template>
<script>
// import axios from 'axios'
export default {
  name: 'FavoriteCard',
  props: {
    fav: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      planets: [],
      favorites: [],
      resultOfSearch: [],
    }
  },
  async mounted() {
    const response = await this.getAllPlanets()
    this.planets = response
    this.favorites = this.fav
  },
  methods: {
    getFavorites() {
      // eslint-disable-next-line no-console
      console.log(this.favorites)
    },
    getAllPlanets() {
      return this.$axios
        .$get('https://api.le-systeme-solaire.net/rest/bodies/')
        .then((Response) => {
          return Response.bodies
        })
    },
  },
}
</script>
