<template>
  <div class="all background atureFont">
    <div class="filters">
      <CheckFilter
        :id="'only-planets'"
        :label="'Only Planets'"
        :checked="onlyPlanetsFilter"
        @update="onyPlanets"
      ></CheckFilter>
      <CheckFilter
        :id="'with-moons'"
        :label="'Only with moons'"
        :checked="hasMoonsFilter"
        @update="hasMoons"
      ></CheckFilter>
      <PlanetCardList :planets="filteredPlanets"></PlanetCardList>
    </div>
  </div>
</template>
<script>
// import axios from 'axios'
import CheckFilter from '~/components/Filter/Checkbox'
import PlanetCardList from '~/components/Planet/PlanetCardList'
export default {
  name: 'PlanetCard',
  components: {
    CheckFilter,
    PlanetCardList,
  },
  props: {},
  data() {
    return {
      planets: [],
      favoritesList: [],
      onlyPlanetsFilter: false,
      hasMoonsFilter: false,
    }
  },
  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    filteredPlanets() {
      let planets = []

      if (!this.onlyPlanetsFilter && !this.hasMoonsFilter) {
        planets = this.planets
      } else {
        this.onlyPlanetsFilter &&
          (planets = this.planets.filter((planet) => planet.isPlanet === true))
        this.hasMoonsFilter &&
          (planets = this.planets.filter((planet) => planet.moons !== null))
      }

      return planets
    },
  },
  async mounted() {
    const response = await this.storePlanets()
    this.$store.commit('savePlanets', response)
    // eslint-disable-next-line no-console
    console.log(await this.$store.state.favorites.favorites)
    this.planets = response
  },
  methods: {
    storePlanets() {
      return this.$axios
        .$get('https://api.le-systeme-solaire.net/rest/bodies/')
        .then((Response) => {
          return Response.bodies
        })
    },
    onyPlanets(isChecked) {
      // eslint-disable-next-line no-console
      console.log(isChecked)
      this.onlyPlanetsFilter = isChecked
    },
    hasMoons(isChecked) {
      this.hasMoonsFilter = isChecked
    },
  },
}
</script>
