<template>
  <div class="all background atureFont">
    <div class="planet-group">
      <div v-for="planet in planets" :key="planet.id" class="planet-card">
        <PlanetCard :planet="planet"></PlanetCard>
      </div>
    </div>
  </div>
</template>

<script>
import PlanetCard from '~/components/Planet/PlanetCard'
export default {
  name: 'PlanetCardList',
  components: {
    PlanetCard,
  },
  props: {
    planets: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      favoritesList: [],
    }
  },
}
</script>

<style scoped>
.all {
  min-height: 93.3vh;
}
.planet-group {
  display: flex;
  flex-wrap: wrap;
}
.planet-card {
  display: flex;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  min-width: 300px;
  margin: 20px;
  border-radius: 15px 0 0 15px;
  background-color: white;
}
.planet-card:hover {
  display: flex;
  box-shadow: 0 25px 50px -12px #fbbf24;
  max-width: 300px;
  min-width: 300px;
  margin: 20px;
  border-radius: 15px 0 0 15px;
  background-color: white;
}
</style>
