<template>
  <div class="planet">
    <div class="planet-border">
      <img
        v-if="planet.isPlanet == true"
        src="https://img.icons8.com/ios/50/000000/planet.png"
        alt=""
        class="planet-isPlanet"
      />
      <img
        v-else
        src="https://img.icons8.com/ios/48/000000/comet.png"
        alt=""
        class="planet-isPlanet"
      />
    </div>
    <div class="planet-info">
      <div class="planet-favorite">
        <div
          v-if="favoritesList.find((element) => element === planet.id)"
          class="planet-favorite-container"
        >
          <img
            class="planet-favorite-icon"
            src="https://img.icons8.com/color/100/000000/filled-like.png"
            @click="removeFromFavorite(planet.id)"
          />
        </div>
        <div v-else class="planet-favorite-container">
          <img
            class="planet-favorite-icon"
            src="https://img.icons8.com/ios/64/000000/like--v1.png"
            @click="addToFavorite(planet.id)"
          />
        </div>
      </div>

      <div class="planet-name">
        {{ planet.name }}
      </div>
      <div class="planet-detail">
        <div v-if="planet.discoveryDate != ''" class="planet-discover-date">
          Discovered in {{ planet.discoveryDate }}
        </div>
        <div
          v-if="planet.alternativeName != ''"
          class="planet-alternative-name"
        >
          Alternative name : {{ planet.alternativeName }}
        </div>
        <div v-if="planet.gravity != ''" class="planet-gravity">
          Gravity : {{ planet.gravity }}
        </div>
      </div>
      <div class="planet-link">
        <div>
          <nuxt-link :to="'/detail/' + planet.id">Voir la page</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */
/* eslint-disable vue/require-valid-default-prop */
export default {
  name: 'PlanetCard',
  props: {
    planet: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      favoritesList: [],
    }
  },
  async mounted() {
    this.favoritesList = await this.favorites()
  },
  methods: {
    favorites() {
      return this.$store.state.favorites.favorites
    },
    addToFavorite(data) {
      console.log(data)
      this.$store.commit('favorites/addFavorite', data)
    },
    removeFromFavorite(data) {
      this.$store.commit('favorites/removeFavorite', data)
    },
  },
}
</script>

<style scoped>
@font-face {
  font-family: 'Ature';
  src: url(~assets/font/Ature.ttf) format('truetype');
}
.planet {
  font-family: Ature, sans-serif;
  width: 100%;
  display: flex;
  min-width: 300px;
  min-height: 200px;
}

.planet-border {
  min-width: 50px;
  max-width: 50px;
  min-height: 200px;
  background-color: #fbbf24;
  display: flex;
  border-radius: 15px 0 0 15px;
}
.planet-isPlanet {
  max-width: 40px;
  margin: auto;
  margin-top: 100px;
  transform: translate(0, -50%);
}
.planet-favorite-icon {
  margin-left: auto;
  max-height: 40px;
}
.planet-link {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: blue;
}
.planet-name {
  display: flex;
  font-size: 30px;
  justify-content: center;
}
.planet-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.planet-discover-date {
  display: flex;
  justify-content: center;
}
.planet-alternative-name {
  display: flex;
  justify-content: center;
}
.planet-gravity {
  display: flex;
  justify-content: center;
}
.planet-info {
  padding: 12px;
}
</style>
