@font-face {
  font-family: 'Ature';
  src: url(@/assets/font/Ature.ttf) format('truetype');
}

.background {
  background-image: url('https://images.unsplash.com/photo-1457364887197-9150188c107b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.atureFont {
  font-family: Ature, sans-serif;
}
