<template>
  <div>
    <div class="navbar">
      <div><NuxtLink to="/">Accueil</NuxtLink></div>
      <div><NuxtLink to="/planet">Les des planetes</NuxtLink></div>
      <div><NuxtLink to="/favorites">Mes favoris</NuxtLink></div>
    </div>
    <Nuxt />
  </div>
</template>

<style scoped>
@font-face {
  font-family: 'Ature';
  src: url(~assets/font/Ature.ttf) format('truetype');
}

.navbar {
  font-family: Ature, sans-serif;
  background-color: #111827;
  display: flex;
  color: #fbbf24;
}

.navbar div {
  padding: 25px 15px 25px 15px;
}
</style>
