<template>
  <div class="all background atureFont">
    <div v-if="filteredFav.length > 0">
      <PlanetCardList :planets="filteredFav"></PlanetCardList>
    </div>
    <div v-else>
      <h1 style="color: #fbbf24">
        Vous n'avez pas encore de favoris, pensez à en ajouter pour les voir ici
        !
      </h1>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/no-side-effects-in-computed-properties */
/* eslint-disable no-console */
import PlanetCardList from '~/components/Planet/PlanetCardList'
export default {
  components: {
    PlanetCardList,
  },
  layout: 'single-item',
  data() {
    return {
      favoritesList: [],
      planets: [],
      matchingFav: [],
    }
  },
  computed: {
    filteredFav() {
      this.matchingFav = []
      // eslint-disable-next-line no-console
      const allPlanets = this.$store.state.planets
      for (let i = 0; i < this.favoritesList.length; i++) {
        this.matchingFav.push(
          allPlanets.filter(
            (element) => element.id === this.favoritesList[i]
          )[0]
        )
      }
      return this.matchingFav
    },
  },
  mounted() {
    this.favoritesList = this.$store.state.favorites.favorites
    console.log(this.matchingFav)
  },
}
</script>

<style scoped>
.all {
  min-height: 93.3vh;
}
</style>
