<template>
  <div class="container background atureFont">
    <div>
      <h1 class="title">Bienvenue sur My Digital Solar System</h1>
      <h2 class="sub-title">Venez decouvrir notre liste des astres</h2>
      <h3>
        <NuxtLink to="/planet" class="navlink">Liste des planetes</NuxtLink>
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'single-item',
  async mounted() {
    const response = await this.storePlanets()
    this.$store.commit('savePlanets', response)
  },
  methods: {
    storePlanets() {
      return this.$axios
        .$get('https://api.le-systeme-solaire.net/rest/bodies/')
        .then((Response) => {
          return Response.bodies
        })
    },
  },
}
</script>

<style scoped>
.container {
  background-image: url('https://images.unsplash.com/photo-1457364887197-9150188c107b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
  min-width: 100%;
  min-height: 93.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: 100px;
}

.title {
  font-size: 100px;
}

.sub-title {
  font-size: 50px;
}

.navlink {
  background-color: wheat;
}
</style>
