<template>
  <div class="background atureFont">
    <PlanetCard></PlanetCard>
  </div>
</template>

<script>
import PlanetCard from '~/components/Planet/Planet'
export default {
  components: {
    PlanetCard,
  },
  layout: 'single-item',
}
</script>
